services:
  php:
    build: ./php                  
    container_name: bookmedik-php
    ports:
      - "8080:80"                
    depends_on:
      - db                      

  db:
    image: mariadb:11  
    container_name: bookmedik-db
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: bookmedik      
      MYSQL_USER: bookmedik                
      MYSQL_PASSWORD: admin
    volumes:
      - db_datos:/var/lib/mysql  

volumes:
  db_datos:
