.container{
    text-align: center;
    padding: 20px;
    margin: 50px auto;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: "Arial; sans-serif";
  }
  .input {
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
  }
  .button {
    padding: 10px 15px;
    margin: 5px;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
  }